@{
    ViewData["Title"] = "Inicio";
}

<article>
    <!-- #HERO -->
    <section class="hero"
             id="home"
             aria-label="hero"
             style="background-image: url('/img/hero-bg.jpg')">
        <div class="container">
            <div class="hero-content">
                <p class="section-subtitle">Impulsando mentes</p>

                <h2 class="h1 hero-title">Construyendo el Mañana.</h2>

                <p class="hero-text">
                    En el Instituto Nacional De Usulután, nos dedicamos a moldear el
                    futuro de nuestros estudiantes, brindándoles una educación de
                    calidad y fomentando un ambiente de aprendizaje inspirador.
                </p>

                <a href="https://www.facebook.com/profile.php?id=61572024186894"
                   class="btn btn-primary"
                   target="_blank">
                    <span class="span">Mira las Actividades Institucionales</span>
                    <ion-icon name="arrow-forward-outline"
                              aria-hidden="true"></ion-icon>
                </a>
            </div>

            <figure class="hero-banner">
                <img src="/img/hero-banner.png"
                     width="500"
                     height="500"
                     loading="lazy"
                     alt="hero image"
                     class="w-100" />

                <img src="/img/hero-abs-1.png"
                     width="318"
                     height="352"
                     loading="lazy"
                     aria-hidden="true"
                     class="abs-img abs-img-1" />

                <img src="/img/hero-abs-2.png"
                     width="160"
                     height="160"
                     loading="lazy"
                     aria-hidden="true"
                     class="abs-img abs-img-2" />
            </figure>
        </div>
    </section>

    <!-- #COURSES / ESPECIALIDADES -->
    <section class="section course"
             id="classes"
             aria-label="course"
             style="background-image: url('/img/course-bg.jpg')">
        <div class="container">
            <p class="section-subtitle">Explora nuestras áreas de especialización</p>

            <h2 class="h2 section-title">Las mejores especialidades para tus estudios</h2>

            <ul class="grid-list">
                <li>
                    <div class="course-card">
                        <figure class="card-banner">
                            <img src="/img/atencion primaria en salud.png"
                                 width="370"
                                 height="270"
                                 loading="lazy"
                                 alt="School Students"
                                 class="img-cover" />
                        </figure>

                        <div class="card-actions">
                            <span class="badge">Basic</span>

                            <button class="whishlist-btn"
                                    aria-label="Add to whishlist"
                                    data-whish-btn>
                                <ion-icon name="heart"></ion-icon>
                            </button>
                        </div>

                        <div class="card-content">
                            <ul class="card-meta-list">
                                <li class="card-meta-item">
                                    <ion-icon name="reader-outline"
                                              aria-hidden="true"></ion-icon>
                                    <span class="card-meta-text">24 Modulos</span>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"
                                              aria-hidden="true"></ion-icon>
                                    <time datetime="PT18H15M44S" class="card-meta-text">3 Años</time>
                                </li>
                            </ul>

                            <h3 class="h3">
                                <a href="#" class="card-title">Salud y Bienestar Social</a>
                            </h3>

                            <div class="rating-wrapper">
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                                <span class="rating-text">(Reseñas de padres)</span>
                            </div>

                            <div class="card-footer">
                                <div class="card-price">
                                    <span class="span">Ministerio de educación</span>
                                </div>

                                <div class="card-meta-item">
                                    <ion-icon name="people-outline"
                                              aria-hidden="true"></ion-icon>
                                    <span class="card-meta-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="course-card">
                        <figure class="card-banner">
                            <img src="/img/dsw.png"
                                 width="370"
                                 height="270"
                                 loading="lazy"
                                 alt="School Students"
                                 class="img-cover" />
                        </figure>

                        <div class="card-actions">
                            <span class="badge">Basic</span>

                            <button class="whishlist-btn"
                                    aria-label="Add to whishlist"
                                    data-whish-btn>
                                <ion-icon name="heart"></ion-icon>
                            </button>
                        </div>

                        <div class="card-content">
                            <ul class="card-meta-list">
                                <li class="card-meta-item">
                                    <ion-icon name="reader-outline"
                                              aria-hidden="true"></ion-icon>
                                    <span class="card-meta-text">24 Modulos</span>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"
                                              aria-hidden="true"></ion-icon>
                                    <time datetime="PT18H15M44S" class="card-meta-text">3 años</time>
                                </li>
                            </ul>

                            <h3 class="h3">
                                <a href="#" class="card-title">Desarrollo de Software</a>
                            </h3>

                            <div class="rating-wrapper">
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                                <span class="rating-text">(Reseñas de padres)</span>
                            </div>

                            <div class="card-footer">
                                <div class="card-price">
                                    <span class="span">Ministerio de educación</span>
                                </div>

                                <div class="card-meta-item">
                                    <ion-icon name="people-outline"
                                              aria-hidden="true"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="course-card">
                        <figure class="card-banner">
                            <img src="/img/logistica.png"
                                 width="370"
                                 height="270"
                                 loading="lazy"
                                 alt="School Students"
                                 class="img-cover" />
                        </figure>

                        <div class="card-actions">
                            <span class="badge">Basic</span>

                            <button class="whishlist-btn"
                                    aria-label="Add to whishlist"
                                    data-whish-btn>
                                <ion-icon name="heart"></ion-icon>
                            </button>
                        </div>

                        <div class="card-content">
                            <ul class="card-meta-list">
                                <li class="card-meta-item">
                                    <ion-icon name="reader-outline"
                                              aria-hidden="true"></ion-icon>
                                    <span class="card-meta-text">24 Modulos </span>
                                </li>

                                <li class="card-meta-item">
                                    <ion-icon name="time-outline"
                                              aria-hidden="true"></ion-icon>
                                    <time datetime="PT18H15M44S" class="card-meta-text">3 años</time>
                                </li>
                            </ul>

                            <h3 class="h3">
                                <a href="#" class="card-title">Logística Comercial y Global</a>
                            </h3>

                            <div class="rating-wrapper">
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                                <span class="rating-text">(Reseñas de padres)</span>
                            </div>

                            <div class="card-footer">
                                <div class="card-price">
                                    <span class="span">Ministerio de educación</span>
                                </div>

                                <div class="card-meta-item">
                                    <ion-icon name="people-outline"
                                              aria-hidden="true"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <a href="#" class="btn btn-primary">
                <span class="span">Tu futuro esta aqui</span>
                <ion-icon name="education-outline" aria-hidden="true"></ion-icon>
            </a>
        </div>
    </section>

    <!-- #CTA -->
    <section class="section cta"
             id="tuition"
             aria-label="workshop"
             style="background-image: url('/img/cta-bg.png')">
        <div class="container">
            <figure class="cta-banner">
                <img src="/img/9.jpg"
                     width="580"
                     height="380"
                     loading="lazy"
                     alt="cta banner"
                     class="img-cover" />
            </figure>

            <div class="cta-content">
                <p class="section-subtitle">Centro de Matricula</p>

                <h2 class="h2 section-title">Únase a El Instituto Nacional De Usulután</h2>

                <p class="section-text">
                    Formá parte del Instituto Nacional de Usulután y asegura tu lugar en una educación de calidad.
                    Nuestro equipo docente está comprometido con tu aprendizaje y te acompaña en cada etapa de tu formación,
                    ofreciéndote orientación académica, valores y las herramientas necesarias para construir tu futuro.
                </p>

                <!-- Volvemos a usar el HTML estático que ya funcionaba -->
                <a asp-controller="Matricula" asp-action="Crear" class="btn btn-secondary">
                    <span class="span">Matricúlate Aquí</span>
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
            </div>
        </div>
    </section>

    <!-- #NEWSLETTER -->
    <section class="section newsletter"
             id="admission"
             aria-label="newsletter"
             style="background-image: url('/img/newsletter-bg.jpg')">
        <div class="container">
            <p class="section-subtitle">
                Instituto Nacional De Usulután
            </p>

            <h2 class="h2 section-title">
                Si tienes dudas no dudes en contactarnos
            </h2>

            <form action="https://formspree.io/f/xjvqrygn"
                  method="POST"
                  class="newsletter-form">
                <div class="input-wrapper">
                    <input type="tel"
                           name="phone_number"
                           aria-label="tel"
                           placeholder="Escribenos"
                           required
                           class="email-field" />

                    <ion-icon name="mail-open-outline"
                              aria-hidden="true"></ion-icon>
                </div>

                <button type="submit" class="btn btn-primary">
                    <span class="span">Contacto</span>
                    <ion-icon name="arrow-forward-outline"
                              aria-hidden="true"></ion-icon>
                </button>
            </form>
        </div>
    </section>
</article>
