@model WebApplication1.Models.Alumno

<h2>Editar alumno</h2>

<p>
    <a asp-action="Alumnos">← Volver al listado de alumnos</a>
</p>

<form asp-action="EditarAlumno" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Carne"></label><br />
        <input asp-for="Carne" />
    </div>

    <div>
        <label asp-for="NombreCompleto"></label><br />
        <input asp-for="NombreCompleto" />
    </div>

    <div>
        <label asp-for="Especialidad"></label><br />
        <input asp-for="Especialidad" />
    </div>

    <div>
        <label asp-for="GradoSeccion"></label><br />
        <input asp-for="GradoSeccion" />
    </div>

    <br />
    <button type="submit">Guardar cambios</button>
</form>
